
 
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 <a target="_blank" href="#" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Freelance Tunisia</a>. Tous les droites sont réservés.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="{{path('site_homepage')}}">Acceuil</a></li>
                        <li><a href="{{path('site_projetpage')}}">Projet</a></li>
                        <li><a href="{{path('site_freelancers')}}">prestataire</a></li>
                        <li><a href="{{path('site_client')}}">Client</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
  

