<header id="header"  >
  <nav class="navbar navbar-fixed-top navbar-no-bg" role="navigation">
  			<div class="container">
  				<div class="navbar-header">
  					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
  						<span class="sr-only">Toggle navigation</span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  					</button>
  					<a class="navbar-brand headerLink" href="index.html">Bootstrap Navbar Menu Template</a>
  				</div>
  				<!-- Collect the nav links, forms, and other content for toggling -->
  				<div class="collapse navbar-collapse" id="top-navbar-1">
  					<ul class="nav navbar-nav navbar-right">
  						<li><a class="headerLink" href="#">Home</a></li>
  						<li><a class="headerLink" href="#">Features</a></li>
  						<li><a class="headerLink" href="#">Video</a></li>
  						<li><a class="headerLink" href="#">Clients</a></li>
  						<li><a class="headerLink" href="#">Plans</a></li>
  						<li><a class="headerLink" href="#">Faq</a></li>
  						<li><a class="btn btn-link-3 headerLink" href="{{path('fos_user_security_logout')}}">Logout</a></li>
  					</ul>
  				</div>
  			</div>
  		</nav>


        </header>
