{% extends "MHUserBundle::layout.html.twig" %}

{% block title %}MHUserBundle:UserManager:supprimerUser{% endblock %}

{% block body %}
<h1>Welcome to the UserManager:supprimerUser page</h1>
{% endblock %}
